/*PC: 600px以上はこのスタイル*/
@media screen and (min-width: 600px) {
  h1 {
    font-size: 40px;
    text-shadow: 4px 4px 4px #aaa;
  }

  h2 {
    font-size: 40px;
    color: rgb(32, 105, 188);
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 20px;
    margin: auto;
  }

  p {
    font-size: 16px;
    color: #535353;
  }

  .publicationYearFont {
    font-weight: bold;
    text-align: center;
  }

  .publicationDetailFont {
    text-align: left;
    font-weight: lighter;
  }

  .publicationYearFont {
    font-weight: bold;
    text-align: center;
  }

  /* Design */

  .citation {
    height: 20px;
    margin: 0 4px 4px 0;
    padding: 5px;
    border-radius: 3px;
    text-align: center;
    width: 60px;
    cursor: pointer;
    border: 1px solid rgba(229, 228, 230, .4);
    background: rgba(0, 111, 93, .6);
  }

  .icon {
    height: 13px;
  }

  /* Layout type */

  html,
  body {
    margin: 0 auto;
    height: 100%;
    line-height: 1.5em;
    font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
    background-color: #EEE8E0;
  }

  .body_container {
    position: relative;
    height: 100%;
    width: 100%;
    display: grid;
    position: relative;
    padding-top: 5vh;
  }

  .mainPadding {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  .mainSize {
    position: relative;
    text-align: center;
    width: 60%;
  }

  .mainImageSize {
    position: relative;
    width: 25%;
  }

  .header__wrapper {
    width: 100%;
    height: 50px;
    position: fixed;
    text-align: center;
    display: grid;
    z-index: 9000;
    grid-template-columns: 1fr 3fr 1fr;
    background: transparent;
    background-color: rgb(238, 232, 224, 0.8);
  }

  .footer__wrapper {
    position: fixed;
    width: 100%;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    background-color: rgb(238, 232, 224, 0.8);
  }

  .contact__wrapper {
    grid-column: 2 / 3;
    margin: 0 auto;
  }

  .footer_font_size {
    font-size: 14px;
  }

  .header__content {
    width: 100%;
    grid-column: 2 / 3;
    margin: 0 auto;
  }

  /* LandingSection */

  #landingSection {
    padding-top: 50px;
    text-align: center;
  }

  /* ExperienceSection */

  #experienceSection {
    padding-top: 50px;
    display: grid;
    grid-template-columns: 3fr 1fr 5fr 3fr;
  }

  #experienceTitleGrid {
    text-align: right;
    grid-column: 2 / 3;
  }

  #experienceDetailGrid {
    grid-column: 3 / 3;
  }

  #experienceDetailContainer {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding-top: 60px;
    padding-bottom: 100px;
  }

  .experienceYearGrid {
    text-align: center;
    grid-column: 1 / 2;
  }

  .experienceDetailGrid {
    grid-column: 2 / 2;
  }

  /* PublicationSection */

  #publicationSection {
    padding-top: 50px;
    display: grid;
    grid-template-columns: 3fr 1fr 5fr 3fr;
    background: rgba(229, 228, 230, .2);
  }

  #publicationTitleGrid {
    text-align: right;
    grid-column: 2 / 3;
  }

  #publicationDetailGrid {
    grid-column: 3 / 3;
  }

  #publicationDetailContainer {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding-top: 60px;
    padding-bottom: 100px;
  }

  .publicationYearGrid {
    text-align: center;
    grid-column: 1 / 2;
  }

  .publicationDetailGrid {
    grid-column: 2 / 2;
  }

  /* SkillSection */

  #skillSection {
    padding-top: 50px;
    display: grid;
    grid-template-columns: 3fr 1fr 5fr 3fr;
  }

  #skillTitleGrid {
    text-align: right;
    grid-column: 2 / 3;
  }

  #skillDetailGrid {
    grid-column: 3 / 3;
  }

  #skillDetailContainer {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding-top: 60px;
    padding-bottom: 100px;
    background: rgba(229, 228, 230, .2);
  }

  .skillLevelGrid {
    text-align: center;
    grid-column: 1 / 2;
  }

  .skillDetailGrid {
    grid-column: 2 / 2;
  }

  .skillLevelFont {
    font-size: 20px;
  }

  .skillDetailFont {
    font-size: 20px;
  }

  .skillDescriptionFont {
    font-size: 16px;
  }
}