/*600px以下はこのスタイル*/
@media screen and (max-width: 600px) {
  h1 {
    font-size: 30px;
    text-shadow: 4px 4px 4px #aaa;
  }

  h2 {
    font-size: 24px;
    color: rgb(32, 105, 188);
  }

  h3 {
    font-size: 16px;
    color: #535353;
  }

  h4 {
    font-size: 20px;
    margin: auto;
    color: #535353;
  }

  p {
    font-size: 14px;
    color: #535353;
  }

  .publicationYearFont {
    font-weight: bold;
    text-align: center;
  }

  .publicationDetailFont {
    text-align: left;
    font-weight: lighter;
  }

  .publicationYearFont {
    font-weight: bold;
    text-align: center;
  }

  .icon {
    height: 13px;
  }

  html,
  body {
    margin: 0 auto;
    height: 100%;
    line-height: 1.5em;
    font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
    background-color: #EEE8E0;
  }

  .body_container {
    height: 100%;
    width: 100%;
  }

  .mainPadding {
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .mainSize {
    width: 100%;
    height: 80%;
  }

  .mainImageSize {
    margin: auto;
    width: 100%;
    border-radius: 10px;
  }

  .header__wrapper {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9998;
    display: block;
    text-align: center;
    background-color: #EEE8E0;
  }

  .header__content {
    position: relative;
    padding: 1vh;
  }

  .header_menu_layout {
    margin: 4px;
    color: #B24A1D;
    font-weight: bold;

  }

  .header__menu {
    font-size: 16px;
  }

  .footer__wrapper {
    width: 100%;
    display: block;
    text-align: center;
    position: relative;
    bottom: 0;
    background-color: #EEE8E0;
    padding-top: 3vh;
    padding-bottom: 3vh;
  }

  .footer__content {
    width: 10vh;
  }

  .footer_content {
    width: 10vh;
  }

  .contact__wrapper {
    text-align: center;
    grid-column: 2 / 3;
  }

  /* LandingSection */

  #landingSection {
    text-align: center;
    padding-top: 10vh;
    padding-left: 10%;
    padding-right: 10%;
  }

  /* ExperienceSection */

  #experienceSection {
    text-align: left;
    padding-top: 5vh;
    padding-left: 10%;
    padding-right: 10%;
  }

  #experienceDetailContainer {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }

  .experienceYearGrid {
    text-align: center;
    grid-column: 1 / 2;
  }

  .experienceDetailGrid {
    padding-left: 10%;
    grid-column: 2 / 2;
  }

  /* PublicationSection */

  #publicationSection {
    text-align: left;
    padding-top: 5vh;
    padding-left: 10%;
    padding-right: 10%;
  }

  #publicationDetailContainer {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }

  .publicationYearGrid {
    text-align: center;
    grid-column: 1 / 2;
  }

  .publicationDetailGrid {
    padding-left: 10%;
    grid-column: 2 / 2;
  }

  .citation {
    height: 20px;
    margin: 0 4px 4px 0;
    padding: 5px;
    border-radius: 3px;
    text-align: center;
    width: 60px;
    cursor: pointer;
    border: 1px solid rgba(229, 228, 230, .4);
    background: rgba(0, 111, 93, .6);
  }

  /* SkillSection */

  #skillSection {
    text-align: left;
    padding-top: 5vh;
    padding-left: 10%;
    padding-right: 10%;
  }

  #skillDetailContainer {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }

  .skillLevelGrid {
    text-align: center;
    grid-column: 1 / 2;
  }

  .skillDetailGrid {
    padding-left: 10%;
    grid-column: 2 / 2;
  }
}