/* Font Type */

h1 {
  font-size: 44px;
  font-family: 'Clear Sans', arial;
  text-shadow: 4px 4px 4px #aaa;
}

h2 {
  font-size: 44px;
  font-family: 'Clear Sans', arial;
  color: #535353;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
  margin: auto;
  font-family: 'DM Sans';
  color: #535353;
}

p {
  font-family: 'DM Sans';
  color: #535353;
}

.publicationYearFont {
  font-weight: bold;
  text-align: center;
}

.publicationDetailFont {
  text-align: left;
  font-weight: lighter;
}

.publicationYearFont {
  font-weight: bold;
  text-align: center;
}

/* Design */

.citation {
  height: 20px;
  margin: 0 4px 4px 0;
  padding: 5px;
  border-radius: 3px;
  text-align: center;
  width: 60px;
  cursor: pointer;
  border: 1px solid rgba(229, 228, 230, .4);
  background: rgba(229, 228, 230, .4);
}

.icon {
  height: 13px;
}

/* Layout type */

html,
body {
  margin: 0 auto;
  height: 100%;
}

.container {
  padding-top: 100px;
  height: 100%;
  width: 100%;
}

.mainPadding {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.mainSize {
  width: 80%;
  height: 80%;
}

.mainImageSize {
  width: 60%;
  height: 80%;
  border-radius: 20px;
}

.header__wrapper {
  width: 100%;
  height: 48px;
  display: block;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9998;
  background-color: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.footer__wrapper {
  bottom: 0;
  left: 0;
  z-index: 9998;
  width: 100%;
  height: 48px;
  display: block;
  text-align: center;
  position: fixed;
  background-color: rgba(229, 228, 230, .4);
}

.header__content {
  width: 648px;
  margin: 0 auto;
}

.header_menu_layout {
  padding-left: 10px;
  font-family: 'DM Sans';
  color: #535353;
}

@media screen and (min-width: 1025px) {
  body {
    background-color: #fff;
  }

  .header__wrapper {
    height: 60px;
  }

  .header__content {
    width: 1000px;
  }

  .header__menu {
    line-height: 60px;
    font-size: 18px;
    text-align: left;
  }

  .footer__wrapper {
    height: 60px;
    font-family: 'DM Sans';
  }

  .footer__content {
    width: 1000px;
  }

  .footer_content {
    width: 1000px;
  }
}

/* LandingSection */

#landingSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  padding-top: 5%;
}

.landingImageGrid {
  grid-column: 1 / 2;
}

.landingNameGrid {
  grid-column: 2 / 2;
}

/* ExperienceSection */

#experienceSection {
  display: grid;
  grid-template-columns: 2fr 2fr 6fr;
}

#experienceTitleGrid {
  grid-column: 2 / 3;
}

#experienceDetailGrid {
  grid-column: 3 / 3;
}

#experienceDetailContainer {
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding-top: 70px;
  padding-bottom: 100px;
}

.experienceYearGrid {
  text-align: center;
  grid-column: 1 / 2;
}

.experienceDetailGrid {
  grid-column: 2 / 2;
  padding-right: 100px;
}

/* .experienceYearFont {
  font-weight: bold;
  text-align: center;
}

.experienceDetailFont {
  text-align: left;
  font-weight: lighter;
} */

/* PublicationSection */

#publicationSection {
  display: grid;
  grid-template-columns: 2fr 2fr 6fr;
}

#publicationTitleGrid {
  grid-column: 2 / 3;
}

#publicationDetailGrid {
  grid-column: 3 / 3;
}

#publicationDetailContainer {
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding-top: 70px;
  padding-bottom: 100px;
}

.publicationYearGrid {
  text-align: center;
  grid-column: 1 / 2;
}

.publicationDetailGrid {
  grid-column: 2 / 2;
  padding-right: 100px;
}

/* SkillSection */

#skillSection {
  display: grid;
  grid-template-columns: 2fr 2fr 6fr;
}

#skillTitleGrid {
  grid-column: 2 / 3;
}

#skillDetailGrid {
  grid-column: 3 / 3;
}

#skillDetailContainer {
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding-top: 70px;
  padding-bottom: 100px;
}

.skillLevelGrid {
  text-align: center;
  grid-column: 1 / 2;
}

.skillDetailGrid {
  grid-column: 2 / 2;
  padding-right: 100px;
}


.skillLevelFont {
  font-size: 20px;
}

.skillDetailFont {
  font-size: 20px;
}

.skillDescriptionFont {
  font-size: 16px;
}

/* Footer */

footer {}