body {
  margin: 0;
  font-family: sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  background: #fff;
  display: grid;
  grid-template-rows:
    80px 1fr 40px;
  grid-template-columns:
    6fr 6fr;
  grid-template-areas:
    "header header"
    "figure section"
    "footer footer"
  ;
}

header,
footer {
  background: #eee;
  text-align: center;
  color: #888;
}

header {
  line-height: 80px;
  font-size: 30px;
  grid-area: header;
}

figure {
  margin: 0;
  background-image: url('https://cdn-ak.f.st-hatena.com/images/fotolife/i/idr_zz/20200523/20200523124026.jpg');
  background-size: cover;
  color: #fff;
  position: relative;
  grid-area: figure;
}

figure figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 50%;
  height: 2em;
  text-align: center;
  font-size: 30px;
}

section {
  padding: 0 15px;
  grid-area: section;
}

section h2 {
  border-bottom: 2px solid #ddd;
  padding-bottom: 5px;
}

footer {
  line-height: 40px;
  font-size: 13px;
  grid-area: footer;
}