/* Font Type */

h1 {
  font-size: 44px;
  font-family: 'Clear Sans', arial;
  text-shadow: 4px 4px 4px #aaa;
}

h2 {
  font-size: 44px;
  font-family: 'Clear Sans', arial;
  color: #535353;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
  margin: auto;
  font-family: 'DM Sans';
  color: #535353;
}

p {
  font-family: 'DM Sans';
  color: #535353;
}

.experienceYearFont {
  font-weight: bold;
  text-align: center;
}

.experienceDetailFont {
  text-align: left;
  font-weight: lighter;
}

.publicationYearFont {
  font-weight: bold;
  text-align: center;
}

.publicationDetailFont {
  text-align: left;
  font-weight: lighter;
}

/* Layout type */

html,
body {
  margin: 0 auto;
  height: 100%;
}

.mainPadding {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.mainSize {
  width: 80%;
  height: 80%;
}

.mainImageSize {
  width: 60%;
  height: 80%;
}

#landingSection {
  position: relative;
  margin: 0 auto;
  padding-bottom: 100px;
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}

.landingImageGrid {
  grid-column: 1 / 2;
}

.landingNameGrid {
  grid-column: 2 / 2;
}

#experienceSection {
  position: relative;
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 2fr 2fr 6fr;
}

#experienceTitleGrid {
  grid-column: 2 / 3;
}

#experienceDetailGrid {
  grid-column: 3 / 3;
}

#experienceDetailContainer {
  display: grid;
  height: 80%;
  width: 100%;
  grid-template-columns: 1fr 3fr;
  padding-top: 70px;
}

.experienceYearGrid {
  text-align: center;
  grid-column: 1 / 2;
}

.experienceDetailGrid {
  grid-column: 2 / 2;
  padding-right: 100px;
}

#publicationSection {
  position: relative;
  margin: 100px auto;
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 2fr 2fr 6fr;
}

#publicationTitleGrid {
  grid-column: 2 / 3;
}

#publicationDetailGrid {
  grid-column: 3 / 3;
}

#publicationDetailContainer {
  display: grid;
  height: 80%;
  width: 100%;
  grid-template-columns: 1fr 3fr;
  padding-top: 70px;
}

.publicationYearGrid {
  text-align: center;
  grid-column: 1 / 2;
}

.publicationDetailGrid {
  grid-column: 2 / 2;
  padding-right: 100px;
}