@charset "UTF-8";

@import url(/css/sanitize.css);
@import url(https://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Avenir Next", Verdana, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "游ゴシック", "Yu Gothic", "メイリオ", Meiryo, Osaka, sans-serif;
  font-size: 1.2rem;
  margin: 0 auto;
  padding: 0;
  background-color: #F8F8F8;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a:link,
a:visited,
a:hover,
a:active {
  color: #9B9B9B;
}

h2 {
  font-size: 22px;
  color: black;
  margin: 0 0 8px;
}

h3 {
  font-size: 16px;
  color: black;
  margin: 0 0 4px;
}

p {
  font-size: 14px;
  color: #9B9B9B;
  line-height: 22px;
  margin: 0;
}

li {
  font-size: 14px;
  color: #9B9B9B;
  line-height: 22px;
  margin: 0;
}

.header__wrapper {
  width: 100%;
  height: 48px;
  display: block;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9998;
  background-color: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.header__logo {
  display: inline-block;
  float: left;
  line-height: 48px;
  margin-left: 16px;
  font-size: 14px;
  font-weight: bold;
}

.header__language {
  display: inline-block;
  float: right;
  line-height: 48px;
  margin-right: 16px;
  font-size: 14px;
}

.profile__img--sp {
  margin-top: 48px;
  width: 100%;
}

.profile__img--dt {
  display: none;
}

.text__wrapper {
  padding: 16px;
}

.section__wrapper {
  background-color: #fff;
  margin-bottom: 16px;
}

.news__wrapper p {
  margin-bottom: 12px;
}

.news__wrapper .text__wrapper {
  padding-bottom: 20px;
}

.research__img {
  background-color: #9B9B9B;
  width: 100%;
  height: auto;
  margin: 16px 0 12px;
}

.research__wrapper p {
  margin-bottom: 12px;
}

.research__sectionTitle {
  font-size: 18px;
  font-weight: bold;
  margin-top: 40px;
}


@media screen and (min-width: 480px) {
  .header__content {
    width: 648px;
    margin: 0 auto;
  }

  .header__logo,
  .header__language {
    margin: 0;
  }

  .profile__img--sp {
    display: none;
  }

  .profile__img--dt {
    display: inline-block;
    width: 182px;
    vertical-align: middle;
  }

  .profile__wrapper {
    margin-top: 48px;
    padding: 24px 0;
  }

  .profile__content {
    margin: 0 auto;
    width: 648px;
  }

  .text__wrapper {
    display: block;
    width: 648px;
    margin: 0 auto;
    padding: 24px 0;
  }

  .profile__wrapper .text__wrapper {
    display: inline-block;
    width: 423px;
    vertical-align: middle;
    padding-left: 44px;
  }

  h1 {
    font-size: 32px;
    border-bottom: #EEEEEE 1px solid;
  }

  p {
    font-size: 16px;
  }

  .research__img {
    width: 236px;
    vertical-align: middle;
  }

  .research__description {
    width: 388px;
    padding-left: 24px;
    display: inline-block;
    vertical-align: middle;
  }
}

@media screen and (min-width: 1025px) {
  body {
    background-color: #fff;
  }

  .header__wrapper {
    height: 60px;
  }

  .header__content {
    width: 1000px;
  }

  .header__logo {
    line-height: 60px;
    font-size: 20px;
  }

  .header__language {
    line-height: 60px;
    font-size: 16px;
  }

  .header__menu {
    line-height: 60px;
    font-size: 18px;
    text-align: right;
  }

  .profile__content {
    width: 1000px;
  }

  .profile__img--dt {
    width: 280px;
  }

  .profile__wrapper {
    padding: 48px;
  }

  .text__wrapper {
    width: 1000px;
  }

  .profile__wrapper .text__wrapper {
    width: 700px;
  }

  .research__description {
    width: 748px;
  }
}